p {
	color: red;
}

#erro {
	background-color: red;
}

body {
	color: orange;
	text-decoration: underline;
	height: 800px;
}

.absoluto {
	width: 100px;
	height: 100px;
	background-color: red;
}

.relativo {
	width: 30%;
	height: 30%;
	background-color: blue;
}

.caixa {
	background-color: red;
	padding: 10px;
	border: 5px solid black;
	margin: 10px;
	box-sizing: border-box;
	border-radius: 3px;
}